# Resend API Configuration
RESEND_API_KEY= "re_Tadpj79T_27eSiFhauRax21Qpv3wVmTgL"

# Email Configuration
FROM_EMAIL=onboarding@resend.dev
TO_EMAIL=your-email@example.com

# Frontend Configuration
FRONTEND_URL=http://localhost:3000

# Server Configuration
PORT=3001

